.status-bar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 5px 3px;
  margin: none;
  box-sizing: border-box;
}

.status-bar__columm:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__columm:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-bar__column:first-child span {
  margin-left: 5px;
}
.status-bar__column:last-child i > {
  margin-right: 5px;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
.status-bar-green {
  background-color: #40ad7b;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 28px;
  right: 65px;
}
.status-bar-red {
  background-color: rgb(209, 71, 71);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: 225px;
}
